* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    font-family: sans-serif ;
    justify-content: center;
    background: #FDB9C9;

}

.container{
    background: #FDB9C9;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;

}

.title{
    text-align: center;
}
.title span{
    color: aliceblue;
}
.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;

}

.reset{
    cursor: pointer;
}
.reset:hover{
    color: aliceblue;
}

.game-gird{
    background: deeppink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell{
    height: 200px;
    cursor: pointer;
    width: 200px;
    justify-content: center;
    align-items: center;
    background: #FDB9C9;
}
.x,
.o {
    cursor: default;
}

.x::after {
    content: '×';
    font-size: 200px;
}

.o::after {
    content: '○';
    color: #F2EBD3;
    font-size: 225px;
}

.won::after {
    color: #BD022F;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .x::after {
        font-size: 150px;
    }

    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 125px;
    }
}
.foo{

    margin-top: 90px;
    text-align: center;
}
